@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    background-color: #0d1b2a;
    /* Ink Black */
}

/* Section gradient backgrounds */
.section-gradient-1 {
    @apply bg-gradient-to-r from-ink via-prussian to-dusk;
}

.section-gradient-2 {
    @apply bg-gradient-to-r from-prussian via-dusk to-lavender;
}

.section-gradient-3 {
    @apply bg-gradient-to-r from-dusk via-lavender to-alabaster;
}

/* Navbar hover effect */
nav a {
    transition: color 0.3s ease;
}

/* Buttons */
button {
    transition: all 0.3s ease;
    border-radius: 0.5rem;
}

button:hover {
    transform: scale(1.1);
}